section{
    display: block;
}
span,section,label{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    background: transparent;
}
.visually-hidden {
    display: block!important;
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    height: 1px!important;
    margin: -1px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    white-space: nowrap!important;
    width: 1px!important;
}

h3{
    color: rgba(0,0,0,0.9);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.333;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

.onboarding-profile-edu__form-field-container {
    display: flex;
}

.onboarding-profile-edu__school-years-form-field {
    flex-basis: 50%;

}

.flex-grow-1 {
    flex-grow: 1!important;
}
.mr5 {
    margin-right: 24px!important;
}

.onboarding-profile-form-field {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.truncate {
    white-space: nowrap!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
}

.onboarding-input.onboarding-input {
    box-sizing: border-box;
    padding: 5px;
    color: rgba(0,0,0,0.9)!important;
}

.onboarding-input.onboarding-input{
    border: 1px solid transparent!important;
}
.onboarding-input{
    padding: 5px;
}

select{
    background-color: #fff;
    background-position: top -31.1rem right .7rem;
    border-radius: 0.4rem;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.6);
    transition: box-shadow 84ms cubic-bezier(.34,0,.21,1);
}

select{
    appearance: none;
    outline: 0;
    background: transparent;
    position: relative;
    z-index: 2;
    background-size: 2.4rem;
    width: 100%;
    padding: 0 3.2rem 0 0.8rem;
    font-size: 1.4rem;
    line-height: 1.42857;
    font-weight: 400;
    vertical-align: middle;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.onboarding-profile-edu__accordion--is-expanded {
    transition-property: max-height;
    max-height: 200px;
    visibility: visible;
    opacity: 1;
}

.overflow-hidden {
    overflow: hidden!important;
}

.focused-easeIn-motion {
    transition-timing-function: cubic-bezier(.4,0,1,1);
    transition-duration: 334ms;
}

.onboarding-profile-edu__over-16 {
    border-radius: 0.8rem;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 1.2rem 2.4rem;
    margin-top: 1.6rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.artdeco-toggle.artdeco-toggle--24dp {
    min-height: 24px;
    padding-right: 48px;
}
.artdeco-toggle {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    font-weight: 400;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    font-size: 1.4em;
    line-height: 1.4;
    color: rgba(0,0,0,0.6);
    background: none;
    border: 0;
    position: relative;
    text-align: right;
    cursor: pointer;
    margin: 0;
    min-height: 32px;
    padding-right: 60px;
}

.artdeco-toggle.artdeco-toggle--toggled:before {
    box-shadow: inset 0 0 0 26px #057642,0 0 0 1px transparent;
}
.artdeco-toggle.artdeco-toggle--24dp:before {
    width: 40px;
    height: 24px;
    border-radius: 13px;
}

.artdeco-toggle:before {
    pointer-events: all;
    transition: all 83ms cubic-bezier(.4,0,1,1);
    display: block;
    content: "";
    position: absolute;
    top: calc(50% - 16px);
    right: 0;
    background-clip: content-box;
    border: 1px solid transparent;
    width: 52px;
    height: 32px;
    border-radius: 17px;
    background-color: rgba(0,0,0,0.6);
    box-sizing: content-box;
}

.artdeco-toggle:before {
    top: unset!important;
}

.artdeco-toggle .artdeco-toggle__text {
    user-select: none;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif ;
    font-size: 1.2rem;
    line-height: 1.33333;
    text-align: right;
}

label.artdeco-toggle__label {
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}
.artdeco-toggle__label {
    margin: 0.75rem 0;
}
.artdeco-toggle__label{
    color:rgba(0,0,0,0.6);
    font-weight: 400;
    font-size: 1.4rem;
    display: block;
}

label.artdeco-toggle__label .label:not(.a11y-text) {
    all: unset!important;
}
.artdeco-toggle .label {
    flex-grow: 1;
    text-align: left;
}

.label{
    border-radius: 0.4rem;
    box-sizing: border-box;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.25;
    display: inline-block;
    padding: 0.1rem 0.8rem;
    position: relative;
}

.artdeco-toggle .input.input {
    margin: 0;
}
.artdeco-toggle .input.artdeco-toggle__button--24dp {
    width: 43px;
    height: 27px;
}
.artdeco-toggle .input {
    opacity: 0;
    position: absolute;
    top: calc(50% - 16px);
    right: 0;
    width: 55px;
    height: 35px;
}
input{
    background: none;
    background-color: hsla(0,0%,100%,0);
    color: rgba(0,0,0,0.9);
    border-radius: 0.4rem;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.6);
    box-sizing: border-box;
    transition: box-shadow 84ms cubic-bezier(.34,0,.21,1);
    vertical-align: middle;

}

.artdeco-toggle.artdeco-toggle--toggled:after {
    right: 3px;
}
.artdeco-toggle.artdeco-toggle--24dp:after {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.artdeco-toggle:after {
    pointer-events: all;
    transition: all 83ms cubic-bezier(.4,0,1,1);
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
    background: #fff;
    display: block;
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    top: calc(50% - 13px);
    right: 23px;
}

.artdeco-toggle:after{
    top: unset!important;
}

.onboarding-header-1 {
    padding-bottom: 0px;
}